<%= form_for(@eventsen) do |f| %>
  <% if @eventsen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eventsen.errors.count, "error") %> prohibited this eventsen from being saved:</h2>

      <ul>
      <% @eventsen.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event %><br>
    <%= f.text_field :event %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
